// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.form-field {
    border: solid 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}
.comments-label {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%, -5%);
    width: 80%;
    height: 30px;
}
.comments-form {
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -15%);
    width: 80%;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: solid 1px;
}

.submit-button {
    border: solid 1px;
    position: absolute;
    top: 90%;
    left: 50%;
    height: 30px;
    width: 50%;
    transform: translate(-50%, -90%);
    border-radius: 10px;
    background-color: #F39800;
    color: white;
}

.submit-button:hover {
 background-color: #FF6800;
}
